.course {
  background-color: $clr--dark-800;

  &__text {
    h2 {
      text-align: center;
      font-size: 2.1875rem;
      font-weight: 600;
      text-transform: uppercase;

      span {
        color: $clr--2;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          background-color: $clr--2;
          bottom: 4px;
          left: 5px;
          transform: skewY(-3deg);
        }
      }
    }
  }

  &__items {
    padding: 20px 0;

    .course__card {
      width: calc(25% - 30px);
      margin: 10px 15px;
      padding: 10px;
      border-radius: 5px;
      background-color: $clr--dark-700;
      box-shadow: 0 0 5px $clr--main;
      transition: all 400ms ease;

      &:hover {
        &:nth-child(odd) {
          transform: rotate(10deg);
          box-shadow: 0 0 10px $clr--2;
        }
        &:nth-child(even) {
          transform: rotate(-10deg);
          box-shadow: 0 0 10px $clr--2;
        }
      }

      .info {
        padding: 5px;
      }

      span {
        color: $clr--1;
      }

      h3 {
        margin-left: 5px;
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
      }

      .course__img {
        position: relative;

        img {
          width: 100%;
          overflow: hidden;
          border-radius: 4px;
          transition: transform 300ms ease;

          &:hover {
            transform: scale(1.05);
          }
        }
        .course__price {
          position: absolute;
          left: 10px;
          top: 10px;
          background-color: $clr--dark-700;
          color: $clr--white-900;
          padding: 5px 10px;
        }
      }
    }
  }
}
