$clr--main: #24caac;
$clr--1: #eaa023;
$clr--2: #e91e63;
$clr--dark-800: #24292d;
$clr--dark-700: #2f363e;
$clr--white-900: #ffffff;
$clr--white-800: rgba(255, 255, 255, 0.8);
$shadow: 0 0 15px rgba(0, 0, 0, 0.2);
