@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  margin: 1rem;
}

.p-2 {
  margin: 1.5rem;
}

.p-3 {
  margin: 2rem;
}

.p-4 {
  margin: 3rem;
}

.p-5 {
  margin: 4rem;
}

.text-center {
  text-align: center;
}

.lead {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.grid-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  -webkit-box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #047aed;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
}

.bg-primary,
.btn-primary {
  background-color: #047aed;
  color: #fff;
}

.bg-primary a,
.btn-primary a {
  color: #fff;
}

.bg-secondary,
.btn-secondary {
  background-color: #1c3fa8;
  color: #fff;
}

.bg-secondary a,
.btn-secondary a {
  color: #fff;
}

.bg-dark,
.btn-dark {
  background-color: #002240;
  color: #fff;
}

.bg-dark a,
.btn-dark a {
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-light a,
.btn-light a {
  color: #fff;
}

span {
  color: yellow;
  font-weight: bolder;
  font-size: 2rem;
}

.alert {
  background-color: #f4f4f4;
  padding: 10px 20px;
  margin: 15px 0;
  font-weight: bold;
}

.alert i {
  margin-right: 10px;
}

.alert-success {
  background-color: aquamarine;
}

.text-primary {
  color: salmon;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px, 0;
  font-size: 16px;
}

img {
  width: 100%;
}

.navbar {
  background-color: #047aed;
  color: white;
  height: 70px;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar a {
  color: white;
  padding: 1rem;
  margin: 0 5px;
  font-size: 1.4rem;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

.showcase {
  height: 400px;
  background-color: #047aed;
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}

.showcase::after, .showcase::before {
  content: "";
  position: absolute;
  background: #fff;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 100;
  -webkit-animation: slideInFromRight 1s ease-in;
          animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input:not([type="submit"]) {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 1.6rem;
}

.showcase-form input:focus {
  outline: none;
}

.showcase-text {
  -webkit-animation: slideInFromLeft 1s ease-in;
          animation: slideInFromLeft 1s ease-in;
}

.stats {
  padding-top: 100px;
}

.stats h3 {
  font-size: 1.3rem;
}

.stats .grid h3 {
  font-size: 3.5rem;
}

.stats .grid p {
  font-size: 2rem;
  font-weight: bold;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.cli .grid {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.cli .grid :nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  grid-row: 1/-1;
}

.cloud .grid {
  -ms-grid-columns: 4fr, 3fr;
      grid-template-columns: 4fr, 3fr;
}

.language .flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.language .card {
  text-align: center;
  margin: 18px 10px 40px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.language .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.language .card:hover {
  -webkit-transform: translateY(-15px) scale(0.9);
          transform: translateY(-15px) scale(0.9);
}

.footer .social a {
  margin: 0 10px;
}

.footer a {
  font-size: 14px;
}

.features-head img,
.docs-head img {
  width: 200px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.features-sub-head img {
  width: 300px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.feature-main i {
  margin: 0 20px;
}

.feature-main .grid-3 {
  padding: 30px;
}

.feature-main .container :nth-child(1) {
  grid-column: 1/-1;
}

.feature-main .container :nth-child(2) {
  grid-column: span 2;
}

.docs-main h3 {
  margin: 20px 0;
}

.docs-main .grid {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.docs-main nav li a {
  color: #333;
}

.docs-main nav li a:hover {
  font-weight: bold;
}

code,
pre {
  background: #333;
  color: #b4becb;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromBot {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromBot {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .feature-main .grid,
  .docs-main .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .showcase {
    height: auto;
  }
  .showcase-text {
    text-align: center;
    margin: 40px;
    -webkit-animation: slideInFromTop 1s ease-in;
            animation: slideInFromTop 1s ease-in;
  }
  .showcase-form {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    -webkit-animation: slideInFromBot 1s ease-in;
            animation: slideInFromBot 1s ease-in;
  }
  .cli .grid :nth-child(1) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .footer {
    text-align: center;
  }
  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
  }
  .features-head img,
  .features-sub-head img,
  .docs-head img {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .feature-main .grid :nth-child(1),
  .feature-main .grid :nth-child(2) {
    grid-column: 1/-1;
  }
}

@media (max-width: 500px) {
  .navbar {
    height: 110px;
    overflow: hidden;
  }
  .navbar .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .showcase-form {
    width: 300px;
  }
}
/*# sourceMappingURL=main.css.map */