@import "variables";
/* Margins & Padding */
.m-1 {
  margin: 10px;
}
.m-2 {
  margin: 15px;
}
.m-3 {
  margin: 20px;
}
.my-1 {
  margin: 10px 0;
}
.my-2 {
  margin: 15px 0;
}
.my-3 {
  margin: 20px 0;
}
.mx-1 {
  margin: 0 10px;
}
.mx-2 {
  margin: 0 15px;
}
.mx-3 {
  margin: 0 20px;
}

.p-1 {
  padding: 10px;
}
.p-2 {
  padding: 15px;
}
.p-3 {
  padding: 20px;
}
.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 15px 0;
}
.py-3 {
  padding: 20px 0;
}
.px-1 {
  padding: 0 10px;
}
.px-2 {
  padding: 0 15px;
}
.px-3 {
  padding: 0 20px;
}

.fs-1 {
  font-size: 1rem;
}
.fs-2 {
  font-size: 1.5rem;
}
.fs-3 {
  font-size: 2rem;
}
.fs-4 {
  font-size: 2.5rem;
}
.fs-5 {
  font-size: 3rem;
}

.clr-p {
  color: blue;
}
.clr-r {
  color: red;
}
.clr-g {
  color: green;
}

.bg-primary,
.btn-primary {
  background-color: $clr-primary;
}

.br {
  border: 2px solid salmon;
}

.container {
  background: $clr-light-100;
  max-width: 85%;
  margin: 0 auto;
  padding: 0 40px;
  overflow: auto;
}
.container--full {
  max-width: 100vw;
  height: 70vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn {
  display: inline-block;
  background-color: $clr-primary;
  color: white;
  border: 2px solid $clr-primary;
  border-radius: 20px;
  transition: 0.5s;
  padding: 10px;
  &:hover {
    color: green;
    background-color: white;
    border: 2px solid $clr-primary;
  }
}

.card {
  background-color: #fff;
  color: black;
  border-radius: 10px;
  box-shadow: 4px 3px 10px rgba($color: black, $alpha: 0.2);
  padding: 20px 20px 10px;
  margin: 10px 0 10px;
}
