@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import "utilities";
@import "variables";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
  color: black;
  line-height: 1.6;
  background-color: $clr-light-400;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3 {
  line-height: 1.2;
  margin: 10px 0;
}
p {
  margin: 10px 0;
}

.header {
  height: 70px;

  .flex {
    justify-content: space-between;
  }
  .nav__bar {
    ul {
      display: flex;
    }
    a {
      padding: 0px 20px;
      font-size: 1.2rem;
      &:hover {
        border-bottom: 2px solid black;
      }
      &:last-child {
        padding: 10px 20px;
      }
    }
  }
}

.hero {
  .container {
    max-width: 100vw;
    background-image: url(../img/Phone.png);
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .flex {
    justify-content: space-evenly;
  }
  .hero__text {
    width: 300px;
    #square {
      color: white;
      text-align: center;
      display: inline-block;
      background-color: darkorange;
      width: 30px;
      height: 14px;
      border-radius: 50%;
    }
    h3 {
      display: inline-block;
      background-color: #e2eaed;
      border-radius: 15px;
      padding-right: 20px;
    }
    h1 {
      color: #242f51;
    }
    a {
      font-size: 1.2rem;
      padding: 10px 20px;
      &:last-child {
        color: blue;
        &:hover {
          color: rgb(1, 117, 40);
        }
      }
    }
  }
  .hero__pic {
    text-align: center;
    img {
      height: 300px;
    }
  }
}

.company {
  text-align: center;
  margin-top: 60px;
  img {
    margin: 0 10px;
  }
}

.app-features {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .flex {
    flex-direction: column;
  }
  .card {
    width: 300px;
  }
}
.app-features__left {
  img {
    padding: 30px;
    width: 100%;
    height: 100%;
  }
}
.app-features__right {
  h1,
  p,
  div {
    align-self: flex-start;
  }
}
