*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

// div > div:nth-child(even) {
//   border: 1px dotted red;
// }
// div > div:nth-child(odd) {
//   border: 1px dotted black;
// }

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 0.2em;
}

.header {
  grid-column: 1/13;
  display: flex;
  justify-content: center;

  img {
    width: 50px;
    max-height: 50px;
    object-fit: contain;
  }
}
.main {
  grid-column: 1/13;
  grid-row: 2/6;

  background-image: url("/img/cover.jpg");
  background-size: cover;

  min-height: 90vh;
  width: 100%;

  color: white;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    font-size: 16px;
    border: 2px solid crimson;
    color: rgb(160, 62, 81);
    background-color: transparent;
    letter-spacing: 0;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 3px;
    margin-top: 10px;
    transition: 0.5s ease;
    // transition-property: background-color;
    &:hover {
      background-color: crimson;
      color: white;
    }
  }
}

.section-title {
  text-align: center;
  font-size: 13px;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
  span {
    color: crimson;
    font-family: "Trebuchet MS";
  }
}

.service-top {
  text-align: center;
  p {
    font: 1.2em sans-serif;
  }
}
.about {
  grid-column: 1/13;
  margin: 10px 10px;

  .service-bot {
    display: flex;
    justify-content: center;
    img {
      width: 120px;
      height: 200px;
      object-fit: cover;
      padding: 4px;
      border: 4px solid black;
      margin: 5px;
      background: crimson;
    }
  }
}
.skill {
  grid-column: 1/13;
  margin: 10px 10px;
}
#file {
  width: 100%;
  height: 14px;
}
.skill-sets {
  padding: 10px;
  text-align: center;
  h2 {
    display: inline-block;
  }
}
.projects {
  grid-column: 1/-1;
  padding: 10px;

  .service-top {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    align-items: center;
    justify-content: center;

    padding: 30px;
    margin: 10px 5%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    background: url("/img/web.jpg");
    background-size: cover;

    color: aliceblue;
    z-index: 1;
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1.1rem;
      line-height: 1rem;
    }
    ::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgb(47, 48, 47);
      opacity: 0.2;
      z-index: -1;
    }
  }
}
.contact {
  grid-column: 1/-1;

  text-align: center;
  background: rgb(193, 226, 226);
  margin-bottom: 1px;
  li {
    font-size: 1.4rem;
    font-family: sans-serif;
    padding: 4px;
    &:nth-child(3) {
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .main {
    font-size: 4rem;
    a {
      font-size: 2rem;
    }
  }
  .section-title {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
  .service-top {
    p {
      font-size: 2rem;
    }
  }
  .about {
    .service-bot {
      img {
        width: 180px;
        height: 289px;
      }
    }
  }
  .skill {
    grid-column: 1/6;
  }
  #file {
    width: 100%;
    height: 39px;
  }
  .skill-sets {
    h2 {
      font-size: 2.2rem;
    }
  }

  .projects {
    grid-column: 6/-1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    .section-title {
      grid-column: 1/-1;
    }

    .service-top {
      grid-column: span 2;
    }
  }
}
