.footer {
  background-color: $clr-DarkBlue;

  a {
    color: $clr-GrayishBlue;
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;

    @include breakpoint-up(large) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo {
    .ft__logo {
      display: inline-block;
      margin-bottom: 1.875rem;
    }
    ul {
      margin-bottom: 1.875rem;
    }
    a:not(:last-child) {
      margin-right: 1rem;
    }
    @include breakpoint-up(large) {
      padding: 1.5625rem;
    }
  }

  &__navlinks__1 {
    line-height: 2;
    @include breakpoint-up(large) {
      text-align: left;
    }
  }

  &__navlinks__2 {
    line-height: 2;
    margin-bottom: 1.875rem;
    @include breakpoint-up(large) {
      text-align: left;
    }
  }

  &__copyright {
    .button {
      margin-bottom: 1.875rem;
      padding: 10px 30px;
      color: $clr-White;
    }
    small {
      display: block;
    }

    @include breakpoint-up(large) {
      text-align: right;
      align-self: center;
    }
  }
}
