@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");

/* Initial Stylings */

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: $font-med;
  font-weight: 300;
  color: $clr-GrayishBlue;
  line-height: 1.3;

  @include breakpoint-up(large) {
    font-size: $font-lg;
  }

  &.noscroll {
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

/* Spacing */
.br {
  border: 2px solid red;
}
.container {
  max-width: 69.5625rem;
  margin: 0 auto;

  &--pall {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  &--py {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  &--px {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  &--pt {
    padding-top: 2.25rem;
  }
  &--pr {
    padding-right: 1.5rem;
  }
  &--pb {
    padding-bottom: 2.25rem;
  }
  &--pl {
    padding-left: 1.5rem;
  }
}

/* flexbox */

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

/* button */

button,
.button {
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background: linear-gradient(to right, $clr-LimeGreen, $clr-BrightCyan);
  color: white;
  font-weight: 400;
  font-size: $font-sm;
  transition: opacity 300ms ease-in-out;

  &:hover {
    opacity: 0.75;
  }
}

/* Visibility */

.hide-for-mobile-tablet {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
