.hero {
  background-color: $clr-VeryLightGray;

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-image: url("/img/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      min-height: 41rem;
      background-image: none;
      //   background-image: url("/img/bg-intro-desktop.svg");
      //   background-position: left center;
    }

    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        background-image: url("/img/bg-intro-desktop.svg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 132%;
        top: -141px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("/img/image-mockups.png");
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: center bottom;
      width: 100%;
      height: 100%;

      @include breakpoint-up(medium) {
        background-size: 50%;
      }

      @include breakpoint-up(large) {
        background-size: cover;
        background-position: right center;
        height: 110%;
      }
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }

    h1 {
      font-weight: 300;
      font-size: 2.3125rem;
      line-height: 1.15;
      color: $clr-DarkBlue;
      margin-bottom: 1.5rem;

      @include breakpoint-up(large) {
        font-size: $font-xlg;
      }
    }

    p {
      line-height: 1.5;
      margin-bottom: 2.25rem;
    }
  }
}
