.why-us {
  background-color: $clr--dark-800;
  .container {
  }

  &__text {
    h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 600;

      span {
        color: $clr--main;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          height: 3px;
          width: 100%;
          background-color: turquoise;
          left: 0;
          bottom: 4px;
          transform: skewY(-3deg);
        }
      }
    }
  }

  .why-us__items {
    .why-us__card {
      width: calc((100% / 3) - 30px);
      margin: 30px 15px;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 0 5px $clr--main;

      position: relative;
      z-index: 1;

      .icon {
        font-size: 30px;
        color: $clr--main;
        margin: 0 0 10px;
      }
      h3 {
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
        margin: 0 0 10px;
      }

      &:nth-child(1) {
        background-color: $clr--1;
      }
      &:nth-child(2) {
        background-color: $clr--main;
      }
      &:nth-child(3) {
        background-color: $clr--2;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $clr--dark-700;
        z-index: -1;
        transition: all 500ms ease;
      }
      &:hover {
        &::before {
          transform: scale(1, 0);
        }
        &::after {
          transform: scale(0, 1);
        }
        .icon {
          color: #fff;
        }
      }
    }
  }
}
