html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: black;
  line-height: 1.3;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.15;
  margin-top: 0;
}

.br {
  border: 2px solid red;
}

/* Navbar */

.headline {
  width: 100%;
  height: 50vh;
  color: wheat;
  text-align: center;
  min-height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-wrapper {
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  overflow: hidden;

  img {
    height: 1rem;
    width: auto;
    margin-left: 1.25rem;
  }

  li {
    display: inline;
    list-style: none;
  }

  a {
    color: #000;
    text-decoration: none;
    margin-left: 20px;
    font-size: 0.9rem;
    font-weight: 400;
    transition: color 300ms ease-out;

    &:hover {
      color: #3498db;
    }
  }

  #search-icon {
    font-size: 0.9rem;
    margin: 0.1875rem 0.9375rem 0;
    transition: color 300ms ease-out;

    &:hover {
      color: #3498db;
      cursor: pointer;
    }
  }

  .search {
    transform: translate(-35%);
    transition: transform 700ms ease-in-out;
    color: #3498db;
  }

  .no-search {
    transform: translate(0);
    transition: transform 700ms ease-in-out;
  }

  .search-input {
    position: absolute;
    top: 20px;
    right: 25px;
    opacity: 0;
    z-index: -1;
    transition: opacity 700ms ease;
  }

  .search-active {
    opacity: 1;
    z-index: 0;
  }

  input {
    border: 0;
    border-left: 1px solid #ccc;
    padding: 5px;
    outline: 0;
  }
}
